/* type selector */
/* h1 {
    color: red;
} */

/* class selector */
/* .site-heading {
    color: red;
} */

#some-id {
  background-color: lightcoral;
}

#sub-heading {
    background-color: lightgreen;
    color: darkgreen
}

.text {
    /* some styling */
}

#text {
    background-color: orange;
    color: lightskyblue
}